#table-wrapper {
  position:relative;
}
#table-scroll {
  max-height: 300px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background: #ceeee8;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

div#activeSearches table thead th:first-child {
  width: 40%;
}
div#topTable table thead th:first-child {
  width: 50%;
}
div#topTable table thead th:nth-child(2) {
  width: 15%;
}
div#topTable table thead th:first-child {
  width: 75%;
}

div#activeBrowses table thead th:first-child {
  width: 50%;
}

div#filesTable table thead th:first-child {
  width: 70%;
}

div#trustedUsers table thead th:first-child {
  width: 50%;
}
div#trustLists table thead th:first-child {
  width: 50%;
}

/* File tree CSS */

 /* Remove default bullets */
ul, #sharedTree {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#sharedTree {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 
