#table-wrapper {
  position:relative;
}
#table-scroll {
  max-height: 500px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background: #ceeee8;
  color:black;
}
#table-wrapper table td, th {
    padding-right: 10px;
    padding-bottom: 1px;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

div#activeSearches table td:nth-child(2) {
  width: 30px;
  text-align: right;
}

div#topTableSender table thead th:nth-child(2) {
  width: 100px;
}
div#topTableSender table thead th:nth-child(3) {
  width: 100px;
}
div#topTableSender table thead th:nth-child(4) {
  width: 100px;
}
div#topTableSender table thead th:nth-child(5) {
  width: 340px;
}
div#topTableSender table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#topTableSender table tbody td:nth-child(2) {
  text-align: center;
}
div#topTableSender table tbody td:nth-child(3) {
  padding-right: 40px;
  text-align: right;
}

div#bottomTableSender table thead th:nth-child(2) {
  width: 100px;
}
div#bottomTableSender table thead th:nth-child(3) {
  width: 130px;
}
div#bottomTableSender table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#bottomTableSender table tbody td:nth-child(2) {
  padding-right: 25px;
  text-align: right;
}
div#bottomTableSender table tbody td:nth-child(3) {
  text-align: center;
}

div#topTableFile table thead th:nth-child(2) {
  width: 100px;
}
div#topTableFile table thead th:nth-child(3) {
  width: 100px;
}
div#topTableFile table thead th:nth-child(4) {
  width: 130px;
}
div#topTableFile table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#topTableFile table tbody td:nth-child(2) {
  padding-right: 25px;
  text-align: right;
}
div#topTableFile table tbody td:nth-child(3) {
  padding-right: 40px;
  text-align: right;
}
div#topTableFile table tbody td:nth-child(4) {
  text-align: center;
}

div#bottomTableFile table thead th:nth-child(2) {
  width: 100px;
}
div#bottomTableFile table thead th:nth-child(3) {
  width: 100px;
}
div#bottomTableFile table thead th:nth-child(4) {
  width: 340px;
}
div#bottomTableFile table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#bottomTableFile table tbody td:nth-child(2) {
  text-align: center;
}

div#activeBrowses table thead th:nth-child(2) {
  width: 100px;
}
div#activeBrowses table thead th:nth-child(3) {
  width: 100px;
}
div#activeBrowses table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#activeBrowses table tbody td:nth-child(2) {
  text-align: center;
}
div#activeBrowses table tbody td:nth-child(3) {
  padding-right: 40px;
  text-align: right;
}

div#filesTable table thead th:nth-child(2) {
  width: 100px;
}
div#filesTable table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#filesTable table tbody td:nth-child(2) {
  padding-right: 25px;
  text-align: right;
}

div#resultsTable table thead th:nth-child(2) {
  width: 100px;
}
div#resultsTable table thead th:nth-child(3) {
  width: 100px;
}
div#resultsTable table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#resultsTable table tbody td:nth-child(2) {
  padding-right: 25px;
  text-align: right;
}
div#resultsTable table tbody td:nth-child(3) {
  text-align: center;
}

div#downloads table thead th:nth-child(2) {
  width: 120px;
}
div#downloads table thead th:nth-child(3) {
  width: 100px;
}
div#downloads table thead th:nth-child(4) {
  width: 80px;
}
div#downloads table thead th:nth-child(5) {
  width: 120px;
}
div#downloads table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#downloads table tbody td:nth-child(2) {
  text-align: center;
}
div#downloads table tbody td:nth-child(3) {
  padding-right: 40px;
  text-align: right;
}
div#downloads table tbody td:nth-child(4) {
  padding-right: 25px;
  text-align: right;
}
div#downloads table tbody td:nth-child(5) {
  padding-right: 20px;
  text-align: right;
}

div#downloadDetails table * {
	background: #bcd1e5 !important;
}
div#downloadDetails table {
	border-collapse: collapse;
	width: auto;
}
div#downloadDetails table td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#feedConfig table * {
	background: #bcd1e5 !important;
}
div#feedConfig table {
	border-collapse: collapse;
	width: auto;
}
div#feedConfig table td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#feedsTable table thead th:nth-child(2) {
	width: 70px;
}

div#feedsTable table thead th:nth-child(3) {
	width: 170px;
}

div#feedsTable table thead th:nth-child(4) {
	width: 100px;
}

div#feedsTable table tbody td:nth-child(1) {
	text-overflow: ellipsis;
}

div#itemsTable table thead th:nth-child(2) {
	width: 80px;
}

div#itemsTable table thead th:nth-child(3) {
	width: 70px;
}

div#itemsTable table thead th:nth-child(4) {
	width: 170px;
}

div#itemsTable table tbody td:nth-child(1) {
	text-overflow: ellipsis;
}

div#uploads table thead th:nth-child(2) {
  width: 120px;
}
div#uploads table thead th:nth-child(3) {
  width: 120px;
}
div#uploads table thead th:nth-child(4) {
  width: 120px;
}
div#uploads table thead th:nth-child(5) {
  width: 120px;
}
div#uploads table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#uploads table tbody td:nth-child(2) {
  text-align: right;
}
div#uploads table tbody td:nth-child(3) {
  text-overflow: ellipsis;
}
div#uploads table tbody td:nth-child(4) {
  padding-right: 40px;
  text-align: right;
}
div#uploads table tbody td:nth-child(5) {
  padding-right: 25px;
  text-align: right;
}

div#trustedUsers table thead th:nth-child(2) {
  width: 200px;
}
div#trustedUsers table thead th:nth-child(3) {
  width: 100px;
}
div#trustedUsers table tbody td:nth-child(3) {
  text-align: center;
}
div#trustedUsers table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#trustedUsers table tbody td:nth-child(3) {
  text-align: center;
}

div#distrustedUsers table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#distrustedUsers table thead th:nth-child(2) {
  width: 300px;
}

div#trustLists table thead th:nth-child(2) {
  width: 100px;
}
div#trustLists table thead th:nth-child(3) {
  width: 100px;
}
div#trustLists table thead th:nth-child(4) {
  width: 120px;
}
div#trustLists table thead th:nth-child(5) {
  width: 180px;
}
div#trustLists table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#trustLists table tbody td:nth-child(2) {
  padding-right: 40px;
  text-align: right;
}
div#trustLists table tbody td:nth-child(3) {
  padding-right: 40px;
  text-align: right;
}
div#trustLists table tbody td:nth-child(4) {
  text-align: center;
}

div#trusted table thead th:nth-child(2) {
  width: 200px;
}
div#trusted table thead th:nth-child(3) {
  width: 100px;
}
div#trusted table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#trusted table tbody td:nth-child(3) {
  text-align: center;
}
div#distrusted table thead th:nth-child(2) {
  width: 200px;
}
div#distrusted table thead th:nth-child(3) {
  width: 100px;
}
div#distrusted table tbody td:nth-child(1) {
  text-overflow: ellipsis;
}
div#distrusted table tbody td:nth-child(3) {
  text-align: center;
}

table.certificates * {
  background: #a5c7e7 !important;
}
table.certificates thead th:nth-child(2) {
  width: 200px !important;
}
table.certificates thead th:nth-child(3) {
  width: 180px !important;
}
table.certificates thead th:nth-child(4) {
  width: 80px !important;
}
table.certificates tbody td:nth-child(1) {
  text-overflow: ellipsis !important;
}
table.certificates tbody td:nth-child(2) {
  text-overflow: ellipsis !important;
}
table.certificates tbody td:nth-child(3) {
  text-overflow: ellipsis !important;
}
table.certificates tbody td:nth-child(4) {
  text-align: center !important;
}

pre {
  background: #a7d5d5;
  padding: 8px;
  margin: 10px 20px 10px 5px;
}

div.right {
  display: inline-block;
  float: right;
}

div.right a {
  color: #1f3b57 !important;
}

div.centercomment {
	display: block;
	text-align: center;
}

div.centercomment textarea {
    background: #bcd1e5 !important;
}

span.right {
  display: inline-block;
  float: right;
}

input.right {
  text-align: right;
}

pre.comment {
	background: #bcd1e5 !important;
	max-height: 80px;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

pre.fullId {
	overflow: auto;
}

/* File tree CSS */

 /* Remove default bullets */
ul, #sharedTree {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#sharedTree {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  padding-right: 30px;
  color: black;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 10px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 

ul.fileTree {
	margin-left: -1.5%;
}

li.fileTree {
	
}

.accordion {
	cursor: pointer;
	transition: 0.4s;
}

.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height: 0.2s ease-out;
}