name=MuWire
description=Easy Anonymous File-Sharing
license=GPLv3
version=${version}
author=${author}
signer=${signer}
websiteURL=${websiteURL}
updateURL.su3=${updateURLsu3}
min-i2p-version=${i2pVersion}
min-java-version=11
consoleLinkName=MuWire
consoleLinkTooltip=Anonymous File Sharing
consoleLinkURL=/MuWire/
console-icon=images/muwire.png
<% println "date="+System.currentTimeMillis() %>
